header {
    background-color: red;
    height: 24px;
    width: 100%;
    top: 0;
    position: fixed;
    left: 0;
    padding: 20px;
    text-align: left;
    z-index: 100;
}
/* Estilos para las tablas, fondo amarillo y control de desbordamiento */
.tablas {
    background-color: lightgoldenrodyellow;
    height: 40%;
    width: 90%;
    position: absolute;
    top: 80px; /* Ajustamos para que no se sobrepongan al header */
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacar */
}

/* Estilos para la tabla específica de máquinas en fabricación */
#maquinas_fabri {
    top: 13%;
}

/* Estilos para la tabla específica de ubicaciones en fabricación */
#ubis_fabri {
    top: 57%;
}

/* Estilos generales para la tabla */
.tabla_principal {
    width: 100%;
    border-spacing: 0;
    border: 1px solid black; /* Borde para la tabla completa */
    background-color: white;
    overflow: hidden; /* Asegura que no haya bordes visibles fuera del contorno */
}

/* Estilos para las celdas de la tabla */
.tabla_principal_td {
    border: 1px solid #ddd; /* Bordes más suaves */
    padding: 12px 15px; /* Espaciado cómodo */
    text-align: left; /* Alineación a la izquierda */
}

/* Fila de encabezado pegajosa */
.th_principal {
    position: sticky;
    top: 0;
    background-color: lightgray;
    height: 50px;
    padding: 10px;
    border: 1px solid #bbb; /* Borde más suave */
    border-bottom: 2px solid black;
    z-index: 1000;
    text-align: center; /* Centrar el texto */
    font-weight: bold;
    color: #333; /* Color de texto */
}

.th_principal:hover {
    cursor: default; /* Para que el cursor no cambie en los th */
}

/* Filas alternas con color de fondo */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo claro */
}

/* Efecto hover para las filas de la tabla */
tr:hover {
    background-color: #f1c40f; /* Resaltado amarillo */
    cursor: pointer; /* Indicar que es interactivo */
}

/* Mejorar la visualización en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .tablas {
        width: 95%; /* Ajustar el ancho en pantallas pequeñas */
        height: auto; /* El alto no debe ser fijo */
    }

    .tabla_principal {
        font-size: 14px; /* Ajustar el tamaño de la fuente */
    }

    .tabla_principal_td {
        padding: 8px 10px; /* Reducir el padding para pantallas pequeñas */
    }
}